[2019-03-07 16:20] JoshVanL opened #1 "Create README.md"
Create README.md with diagram, walk through and explanation.

[2019-03-07 16:21] JoshVanL opened #2 "Handle signals"
Handle signals and gracefully kill server.

[2019-03-07 16:21] JoshVanL opened #3 "Ready Probe."
Create ready probe for Kubernetes deployments.

[2019-03-07 16:22] JoshVanL opened #4 "Demo/Walk through"
Create demo/walk though with scripts and possible terraform to deploy the proxy and set it up.

[2019-03-07 16:22] JoshVanL opened #5 "Testing"
Add online and offline testing.

Want to test logic offline.
Test permissions online.

[2019-03-07 16:23] JoshVanL opened #6 "Dcoker pipelines"
Set up docker pipelines for CI and deployments

[2019-03-07 16:24] JoshVanL opened #7 "Cert bootstrap"
Figure out how we handle boot strapping cert etc, maybe cert manager?

[2019-03-11 08:54] #7 closed, assigned to nobody

[2019-03-11 08:54] #1 closed, assigned to nobody

[2019-03-11 08:54] #4 closed, assigned to nobody

[2019-03-11 08:54] #6 closed, assigned to nobody

[2019-03-11 08:55] JoshVanL opened #8 "Create CI piplines"
Create CI pipelines.

Requires #5

[2019-03-11 08:58] JoshVanL opened #9 "Investigate why NGINX doesn't work"
When deploying behind an nginx, the kube-oidc-proxy becomes unreachable - due to some streaming error.

This is basically a requirement for a cert-manager cert bootstrap.

Logs TBD.

[2019-03-11 10:10] #9 closed, assigned to nobody

[2019-03-11 14:13] JoshVanL opened #10 "Add cert-manager custom CA walkthrough"
Add a walkthrough to have cert-manager handle kube-oidc-proxy certificates.

[2019-03-11 14:21] #3 closed, assigned to nobody

[2019-03-11 18:42] JoshVanL opened #11 "Version flag"
Add version flag, inc git commit etc.

[2019-03-18 18:24] JoshVanL opened #16 "Live option reload"
We should be able to live reload options for kube-oidc-proxy, i.e. live reload certs when the file changes

[2019-03-26 09:25] #8 closed, assigned to nobody

[2019-04-05 09:45] #2 closed, assigned to nobody

[2019-04-05 16:34] #5 closed, assigned to nobody

[2019-04-05 16:44] #11 closed, assigned to nobody

[2019-04-11 13:18] simonswine opened #40 "Test demo should be running `make -C demo manifests_validate`"
Or is there a good reason why not?

/assign @JoshVanL

[2019-04-11 14:02] simonswine opened #41 "Generate demo manifests for kube-oidc-proxy from jsonnet components"
On the back of #35

[2019-04-18 08:53] simonswine opened #49 "Add CONTRIBUTING/LICENSE/CodeofConduct.md"

[2019-04-18 08:53] simonswine opened #50 "Publish 0.1.0"
Push to quay.io

[2019-04-18 08:53] simonswine opened #51 "Add note about alpha stage of the project"
Maybe similar to kube-lego

[2019-04-18 09:37] #40 closed, assigned to JoshVanL

[2019-04-18 14:50] #49 closed, assigned to nobody

[2019-04-18 16:12] #51 closed, assigned to nobody

[2019-04-18 16:12] #50 closed, assigned to nobody

[2019-04-23 08:05] JoshVanL opened #56 "Use go modules"
We should use go modules to keep in lined with Kubernetes upstream

[2019-05-09 15:25] JoshVanL commented on #41
@simonswine Would you want to see _all_ manifests? A subset? or just the kube-oidc-proxy manifests?

[2019-05-10 14:06] JoshVanL opened #62 "Auditing - proposal"
Write a proposal on how we can expose requests to enable auditing and monitoring.

[2019-05-14 18:03] simonswine commented on #62
We should check first, how the audit log on the real apiserver looks like. E.g. what audit information is not available any more. I guess you are aware of this https://github.com/kubernetes/enhancements/blob/39b8b3966229a09a3abdf50fca13851e62dd54ba/keps/sig-auth/0014-dynamic-audit-configuration.md

What are you thinking about monitoring? A metrics endpoint?

[2019-07-07 10:53] nickperry opened #73 "No impersonation, OIDC pass-through mode - proposal"
Consider the case where an org
a) already has OIDC auth enabled in their clusters.
and
b) wants to use kube-oidc-proxy solely to improve their security posture by preventing non-OIDC auth being used from outside the cluster, e.g. leaked SA tokens and X509 certs.

I wonder for this use-case if there is some value in an option to pass-through OIDC and not use impersonation? In this mode, kube-oidc-p

[2019-07-07 12:56] nickperry opened #74 "Need the ability to prefix the users and groups that we impersonante"
Kubernetes API server OIDC provides the options oidc-username-prefix and oidc-groups-prefix.

At our site, for example we set

oidc-username-prefix=oidc:
oidc-groups-prefix=oidc:

This is a good practice as it makes it very obvious what sort of user and group we're dealing with, for example when looking at audit logs.

All of our role bindings for human users are based on this. Unfortunately this

[2019-07-08 09:04] JoshVanL commented on #74
Thanks for bringing this up, an oversight by me

/kind bug
/assign

[2019-07-08 09:12] JoshVanL commented on #73
It's certainly an interesting use case and can see the value in it. Perhaps we create some kind of `mode` flag to string. Match on `default`,  `sa-passthough`, `oidc-verify` or some such.

I'd be interested to at least attempt to implement this later in the week to see what it may look like - after #72 I think.

/assign
/kind feature

[2019-07-08 09:13] JoshVanL commented on #73
/cc @simonswine

[2019-07-09 21:15] nickperry commented on #74
Sorry @JoshVanL . This is really embarrassing for me as I've seen the work you've put into https://github.com/jetstack/kube-oidc-proxy/pull/75/commits/546c18e08c02da7cbfa74c06e0f73a689408bdc5, but, I was mistaken - it actually worked already. I had a misconfiguration in my environment when I raised this issue.

I owe you a 🍺.
![image](https://user-images.githubusercontent.com/159528/60923468-da228

[2019-07-10 08:20] JoshVanL commented on #74
Whoops! :grimacing:
No harm done, my fault also for not checking!

Glad it working as expected :)

/close

[2019-07-10 08:20] #74 closed

[2019-07-10 12:00] simonswine commented on #73
I think this is a valid use case. I am not too sure, how scalable that `mode` notation is. I rather would have feature flags for `impersonation`, `passthrough of service accounts (in a format accepted by the api server)`.

Wdyt?

[2019-07-25 10:20] #56 closed

[2019-07-29 19:46] ltagliamonte-dd commented on #62
@simonswine i'd love to work on this story, for compliance reason we would like to use the oidc-proxy and audit all the req/responses.

[2019-07-30 01:28] ltagliamonte-dd commented on #62
@simonswine @JoshVanL i'm able to use the proxy deployed in the k8s cluster but i'm unable to use it locally.. and for rapid deployment cycles i need it running locally.. this are the options i am using:

[code]

i'm generating MY_TOKEN trying:

[code]

i'm receiving:
[code]

[2019-07-30 08:47] JoshVanL commented on #62
Hi @ltagliamonte-dd!

We have an internal planning meeting Friday and auditing is definitely on the agenda - I'm keen to see this happen to.

Regarding your problem, this is just a bug - I'm ganna put together a fix and backport it to 0.1. I'll open up an issue and put context what's happened there.

[2019-07-30 08:53] JoshVanL opened #76 "Client plugins not registered."
Client auth plugins get registered to the local client via an `init()` func in their package.

e.g.
[code]

Since we don't currently do this, trying to auth in this way causes for example;
`error: No Auth Provider found for name "oidc"`

We just need to import the plugin directories to get them registered.

This needs to be backported to 0.1

/cc @ltagliamonte-dd
/assign
/kind bug

[2019-07-30 10:22] JoshVanL commented on #76
Didn't need a back port - see PR

[2019-07-30 10:23] JoshVanL commented on #62
Added a fix @ltagliamonte-dd here https://github.com/jetstack/kube-oidc-proxy/pull/77

I guess you're using master instead of v0.1.1?
This issue came about as we removed `k8s.io/kubernetes` as a dependency

[2019-07-30 16:03] ltagliamonte-dd commented on #62
@JoshVanL do you want me to use v0.1.1 for my development or master?
Do you have a slack you can add me to so we can have faster iterations?

[2019-07-31 09:23] JoshVanL commented on #62
Not particularly, that should be fine - master should be quite stable atm.

Are you kubernetes.slack? That is probably the best place. I've also requested for a channel https://github.com/kubernetes/community/pull/3944

[2019-08-01 17:52] nickperry commented on #62
When we put kube-oidc-proxy in path, we had to accept for the time being that we lose visibility of the real client IP. Kube API server does not have any support for XFF or similar at this time (I don't have the issue to hand for that right now but will link to it here when at my computer). At our site we have other controls to mitigate that loss of client IP visibility.

The only other thing I ha

[2019-08-01 20:15] JoshVanL commented on #76
/close

[2019-08-01 20:15] #76 closed

[2019-08-04 23:05] nickperry commented on #73
Another advantage of this feature would be the users themselves being able to use impersonation again, for example for least privilege.

[2019-09-11 10:36] #10 closed

[2019-09-11 23:41] dlipovetsky opened #92 "Redefine "readiness" from "serving" to "serving and OIDC authenticator successfully initialized""
I started the proxy while the OIDC provider was unavailable; the proxy reported itself as Ready:

[code]

In my view, I think the proxy should report itself as ready only after the OIDC authenticator is initalized successfully.

[2019-09-12 00:07] dlipovetsky commented on #92
The authenticator's [only initializer is asychronous](https://github.com/kubernetes/apiserver/blob/e72ec4e02467bb6c5f6792ca183b679109fa2614/plugin/pkg/authenticator/token/oidc/oidc.go#L225), and [never gives up](https://github.com/kubernetes/apiserver/blob/e72ec4e02467bb6c5f6792ca183b679109fa2614/plugin/pkg/authenticator/token/oidc/oidc.go#L302), which prevents the proxy from knowing whether the i

[2019-09-12 00:44] JoshVanL commented on #92
Hi there :)

I have thought about this when writing it and assumed this would come up. The reason it is the way it is is for that exact reason you mentioned. I think we should be able to test the connection ourselves and should be fairly cheap to do periodically
https://github.com/kubernetes/apiserver/blob/e72ec4e02467bb6c5f6792ca183b679109fa2614/plugin/pkg/authenticator/token/oidc/oidc.go#L128

T

[2019-09-12 01:05] dlipovetsky commented on #92
Thanks a lot for the feedback @JoshVanL, and for your work on this excellent proxy! :slightly_smiling_face:

What do you see as the way forward?
- Propose a synchronous initializer to `apiserver/plugin/pkg/authenticator/token/oidc` upstream
- Fork upstream and implement a synchronous initializer
- Continue to use the asynchronous initializer, but perform verification on the side
- Something else

[2019-09-12 01:33] JoshVanL commented on #92
Cheers!

Judging by their implementation I think they are probably quite intent to keep it this way.

I'm quite keen to _not_ fork upstream unless absolutely necessary and stay aligned.

This is the approach I was thinking of but want to make sure we're not too aggressive with the polling.

@simonswine What are your thoughts?

[2019-09-13 16:42] dlipovetsky commented on #92
To be able to check the issuer, I think the proxy needs to duplicate a lot of the code in [`newAuthenticator`](https://github.com/kubernetes/apiserver/blob/master/plugin/pkg/authenticator/token/oidc/oidc.go#L257): validate parameters, configure the transport, etc. Duplicating that code has most of the downsides of forking the oidc auth plugin.

On the other hand, we can add a single method to the

[2019-10-03 23:27] kotyara85 opened #99 "error: You must be logged in to the server"
Hey guys,
We forked this project and seeing next error - error: You must be logged in to the server
when use kubectl.

curl works just fine with bearer token.

Any suggesting what it could be?

Thanks

[2019-10-04 08:54] JoshVanL commented on #99
Hello!

When you say forked - do you mean you have made changes to the code?

Can you double check that the OIDC token has been set up in your Kubeconfig?

Could you provide some logs of kube-oidc-proxy when you're attempting to connect using kubectl? You can also add `--v 10` to it's arguments to provide more info.

[2019-10-04 21:03] jicowan opened #102 "dns.tf in amazon demo references google-config.json which does not exist"
When running through the demo for Amazon EKS, running `CLOUD=amazon_cluster_1 make terraform_apply` generates the following error:
[code]
The dns TF script is referencing a file `google-config.json` that does not exist at the path in the script:
[code]

[2019-10-08 14:49] jicowan opened #104 "Error in aws provider"
When running `CLOUD=amazon_cluster_1 terraform_apply` the following errors occur:
[code]
The EKS cluster control plane **is** provisioned by the nodes are not.

[2019-10-08 14:56] jicowan commented on #104
https://github.com/terraform-aws-modules/terraform-aws-eks/issues/500

[2019-10-11 20:24] jicowan commented on #104
upgraded module.

[2019-10-11 20:24] #104 closed

[2019-10-16 21:20] ragarcia26 commented on #9
I'm confused and am having trouble deploying oidc-proxy behind an nginx ingress controller. Is this not possible, will it ever be, use X instead?

[2019-10-17 21:55] ragarcia26 opened #105 "Potential security risk due to Go version"
Haven't tested this myself but go version needs to be at least 1.12.10 due to https://threatpost.com/kubernetes-bugs-authentication-bypass-dos/149265/

[2020-01-03 20:06] 1robroos opened #116 "helm chart install : problem with 127.0.0.1:8080"
I deployed the helm chart, and started the port forwarding as suggested in the helm output.
When navigating to http://127.0.0.1:8080/ , the browser tells me
[code]
And the port-forward messages give:
[code]
Any idea  if I am doing something wrong ?

[2020-01-06 15:38] #92 closed

[2020-01-08 14:37] JoshVanL commented on #116
Not too sure what would be going wrong here.
Are the any logs  in kube-oidc-proxy you can post?

[2020-01-22 09:48] torhagl opened #122 "Issues with stern / kubectl log {pod} -f"
It seems that logging with the follow flag doesn't work. If I use stern it's not able to match any pods either.

Setup:
AKS cluster. K8s version 1.14.8.
Cert manager for TLS certificates.
NGINX for ingress.
kube-oidc-proxy deployed from the helm chart within this repo.

Expected behaviour:
![image](https://user-images.githubusercontent.com/26787631/72883442-96f4a380-3d04-11ea-9572-bcf510c8a794.png

[2020-01-22 09:50] JoshVanL commented on #122
/assign

[2020-01-23 10:15] ruzickap opened #123 "Helm repository for kube-oidc-proxy"
Hello.

Is there a plan of having the helm repository for `kube-oidc-proxy` ?
I can not see it https://hub.helm.sh/charts/jetstack and I was not able to find it in the documentation.

Thank you...

[2020-01-23 14:01] JoshVanL commented on #123
Hi @ruzickap

We don't currently have a helm chart repo going, but it's not something I'm against at all. It would probably live in `https://charts.jetstack.io`, the same as cert-manager. In the mean time you can use the helm chart from source in `./deploy`.

/cc
/assign

[2020-01-23 14:07] ruzickap commented on #123
I saw the helm chart source in `deploy/charts/kube-oidc-proxy` but I was not able to find the helm chart repo.
It is not easy to use helm chart source in case of using some other tools which requires the helm chart repo.

Thank you...

[2020-01-23 14:35] torhagl commented on #122
Closing this issue as it was a permissions issue, not an issue with the project. Solved using these permissions:

[code]

Will have to dig deeper to figure out exactly which permissions are needed for this case.

[2020-01-23 14:35] #122 closed

[2020-02-06 00:58] amit-handda opened #125 "userinfo.extras add client-ip"
Hi Folks,
Thanks for a very useful product. Have a small query, let me know if this isnt right platform for the same.

I am looking to append client-ip from which request originated, as part of `x-remote-extra-` headers from oidc-proxy to api-server.
Is there a way to achieve the same ?

many thanks !

[2020-02-06 10:06] JoshVanL commented on #125
Hello! This can't be done yet currently no- I'm not against it at all but what is the use case for doing this?

[2020-02-12 00:50] amit-handda commented on #125
Sorry, I missed your response.
Usecase is to use oidc proxy which will add client-ip to userinfo.extra headers, while relaying request to api-server. we could, then, utilize this information in applying validation policies via open-policy-agent.

Thanks,

[2020-02-12 10:29] JoshVanL commented on #125
Makes sense to me, I'll have a look at putting that together.

/assign

[2020-02-12 18:47] amit-handda commented on #125
Thank you. For now, I just forked the repo and added few lines of code to make it work for me. It obviously needs to be done in a better and generic way.
[code]

[2020-02-13 21:58] JoshVanL commented on #125
Hey @amit-handda, I went ahead and opened up a PR to implement something that should helpfully solve what you are trying to look for.  https://github.com/jetstack/kube-oidc-proxy/pull/128

[2020-02-13 21:59] JoshVanL commented on #105
This should be fixed now in the latest release
/close

[2020-02-13 21:59] #105 closed

[2020-02-19 11:15] JoshVanL opened #132 "Improve extra-header remote client IP"
Currently the remote IP appended as an extra header, if enabled, is only the IP of the source of the connection. We can do a bit better by attempting to find the real client IP using something like
 https://github.com/sebest/xff/blob/master/xff.go

/assign

[2020-02-19 13:22] #125 closed

[2020-02-26 21:55] mkinsley opened #135 "partially full response buffers never flush"
*Expect*

Non-full buffers should flush in a reasonable amount of time

*Observed*

* Partial buffer fills on the response are not flushed to  oidc-proxy client.
* From kubectl client perspective this will often show up as partial json obj... which will fail to decode.
* Pod delete will hang until something terminates the streaming connection (ie LB timeout)
* setting proxyHandler.FlushInterval =

[2020-03-02 09:28] JoshVanL commented on #135
Hi @mkinsley,

It is annoying you are running into this. As you can see from the [golang docs](https://golang.org/pkg/net/http/httputil/#ReverseProxy), running with a 0 value means no periodic flushing which is the current behavior.

I would like to see this changed to some sane value that can be configured. I am nervous at having a negative value as the _default_, perhaps 200ms would be better?

[2020-03-02 09:28] JoshVanL commented on #135
Whoops!

/unassign @mkinsley
/assign

[2020-03-03 11:51] JoshVanL commented on #135
I have opened up this PR to fix this
https://github.com/jetstack/kube-oidc-proxy/pull/137

[2020-03-10 23:58] venky999 opened #139 "Can we use jetstack/kube-oidc-proxy without Dex And Gangway"
Can we use jetstack/kube-oidc-proxy without Dex And Gangway to authenticate directly with OIDC providers like Google, Microsoft or Okta

The reason for my question is there is no option to specify `client_secret` in the OIDC config and more over its not clear how does the kubeconfig look like

The README says we need to provide `id-token, refresh-token` but not sure how to get these values without

[2020-03-15 23:51] JoshVanL commented on #139
Hi there!

kube-oidc-proxy is agnostic to any OIDC provider. It may be helpful to look at documentation for the specific provider you want against the API server since the configuration there will be identical.

[2020-03-17 09:10] #135 closed

[2020-03-17 19:53] JoshVanL opened #140 "Fix dev cluster for OSX"
OXS + docker is not routable from the host. Instead we need to add `extraPorts` to kind on boot and expose the proxy on a node port so we can route from localhost.

/assign
/cc @munnerz

[2020-03-19 10:14] #132 closed

[2020-03-23 11:50] JoshVanL opened #141 "Improve Unauthed response"
Currently, when we fail a authentication on a request, we simply reply with a 403 with a "Unauthorized" response body. We may want to change this to instead return a k8s JSON object, similar to how the API server is doing it:

[code]

There is some discussion to have around this:
- On one hand this will make sure that k8s based apps play nice with the proxy as they may be expecting/require this ki

[2020-03-23 21:54] #62 closed

[2020-03-23 22:27] ltagliamonte-dd commented on #62
@JoshVanL thank you for working on this, but i think we should re-open this issue (or if you want i can open a new one)
My issue is more about having visibility in the exec sessions, having the same audit the api server already offers is nice but not a fully audit of what get processed by oidc-proxy.

[2020-03-24 08:36] JoshVanL commented on #62
Hi @ltagliamonte-dd :)

Indeed, this is the plan and I'm actively working on this in the background. The base auditing was definitely a pre-courser to this work. I'll open up an issue to track things.

[2020-03-24 08:38] JoshVanL opened #142 "Auditing Exec Sessions"
It would be nice to be able to audit exec, and other session data such as port-forwards when using the proxy. Ideally, this can create an exec playback to be able to run through the command run and their outputs.

/assign

[2020-03-24 08:38] JoshVanL commented on #142
/cc @ltagliamonte-dd

[2020-03-25 22:48] EronWright opened #143 "Support for Impersonation headers"
It might be possible for the proxy to accept the impersonation headers, e.g. to support `kubectl --as`, with the use of a `SubjectAccessReview` which would authorize the user to make an impersonated call.   Of course, the proxy itself uses impersonation, and in this scenario it would use the supplied user/group (after a successful review).

The key scenario would be to support `kubectl --as` and `

[2020-03-25 22:53] EronWright commented on #143
I would be happy to work on this, if nobody comes up with a reason that it wouldn't work.  Thanks for the input.

[2020-03-26 09:04] JoshVanL commented on #143
Hello  @EronWright !

Yes, this has been something I have had on my mind for some time but has been put on the backlog in favor of other things. I don't see anything particularly wrong with this, but it needs to be clear to users what they are enabling with this. The biggest thing for me is that we will loose the audit trail at the API server side since all requests will be purely from the proxy,

[2020-03-27 04:54] ernoaapa opened #146 "Watching with client-go hangs"
Hi,
I have Go CLI that watch CRD resources. For unknown reasons, it's unable to watch the resources.

This line in my go app, never return:
[code]

Should the watch be supported through the `kube-oidc-proxy`?

[2020-03-28 11:33] JoshVanL commented on #146
Hi there!

Looks like my reply never got posted so I'll try again :neutral_face:

It looks like to me that you are finding the same problem as [here](https://github.com/jetstack/kube-oidc-proxy/issues/135). Watch requests often are not picked up by the httputil.ReverseProxy as long running connections and thus are not flushed immediately. To fix this, the default flush interval (previously never f

[2020-04-02 16:06] JoshVanL commented on #73
Cleanup: This has been done
/close

[2020-04-02 16:06] #73 closed

[2020-04-03 15:44] robertgates55 opened #149 ""x509: certificate signed by unknown authority" when using Ingress"
I've set up kube-oidc-proxy and enabled ingress with cert-manager generating letsencrypt certs for the endpoint. I used the helm chart to deploy.

However, when I try & connect with my generated kubeconfig, the CA obviously doesn't match up - I'm providing the root CA from my EKS cluster (sourced from /var/run/secrets...etc) to an endpoint that's got letsencrypt certs:
[code]

What's the correct w

[2020-04-03 16:39] JoshVanL commented on #149
Hi @robertgates55,

I guess this it's a question of where TLS is getting terminated. Are you serving your kube-oidc-proxy without TLS and having it terminated at your ingress controller?

It looks like you'll want to set the certificate authority in your kubeconfig to that of Let's Encrypt's CA.

[2020-04-04 08:40] robertgates55 commented on #149
Thanks Josh - dug a little further & now have it working with a service of type:LB & certs generated with cert-manager (then using the letsencrypt CA to log in as you suggested)

[2020-04-04 08:41] robertgates55 commented on #149
Suggests maybe the docs could do with a little more detail - but happy to close in the meantime.

[2020-04-04 08:41] #149 closed

[2020-04-08 23:51] smurfralf opened #150 "kubectl exec through kube-oidc-proxy fails"
I have a working kube-oidc-proxy instance but when I try to run `kubectl exec -it` I get a failure. Is `kubectl  exec -it` supported by the proxy?

Here is what I ran and the result:

    $ kubectl exec -it mypod -n mynamespace -- /bin/sh`
     error: error sending request: Post https://kube-oidc-proxy.mydomain.com/api/v1/namespaces/mynamespace/pods/mypod/exec?command=%2Fbin%2Fsh&container=maincon

[2020-04-11 11:53] JoshVanL commented on #150
Hi @smurfralf,

This indeed is a network issue rather than an auth one from what I can see. The latest release v0.3.0 included a [change](https://github.com/jetstack/kube-oidc-proxy/pull/137) to enable a flush interval for long running connections however it looks like we are failing on a POST request here which is odd.

Would you be able to upgrade the image tag (there should't be any breaking ch

[2020-04-14 07:40] aashishgoyal246 opened #151 "OAuth2 Issue using dex"
I am having an issue where I want to deploy the infrastructure on AWS. The following issues I have are -

1. As you are creating client_id and client_secret in `https://github.com/jetstack/kube-oidc-proxy/blob/master/demo/infrastructure/modules/oauth2-secrets/secrets.tf` for oauth2, so I have a doubt that you again say to create a Github OAuth Apps part in which it also creates client_id and clien

[2020-04-14 10:22] vivekanandg commented on #99
I'm getting a similar error

[code]

[code]

[2020-05-09 20:35] mikebell90 opened #152 "Why not an Authenticating Proxy"
Forgive me this ignorant question as I'm a relative Kubernetes n00b.

Why is this not implemented as an Authenticating Proxy instead of the way it is? Wouldn't that be cleaner and avoid the whole impersonation thing?

Feels cleaner to me, so I'm probably missing a crucial detail?

[2020-05-11 09:56] JoshVanL commented on #152
Hello!

The reason for this is when using Kubernetes platforms (GKE, EKS...) where there is no access to the API server CLI flags and so can't be configured. This means that functionality needs to be put outside of the control plane, which makes using impersonation a requirement.

[2020-05-14 06:57] geoberle opened #153 "Support HTTPS_PROXY env variable"
I would really love to see some option to let kube-oidc-proxy know that it should use a specific HTTP proxy for communication with the upstream Kubernetes API.

I tried the usual HTTP_PROXY and https_proxy ENV variables but without success. Is there a way i'm not aware of?

Thanks for looking into this.

[2020-05-14 10:42] JoshVanL commented on #153
Hello!

Thanks for the issue. This seems like a simple fix - I will open a PR shortly.

/assign

[2020-05-15 17:17] geoberle commented on #153
Hi. Wow that was quick. Thank you so much for your effort!

[2020-05-21 00:12] decayofmind commented on #99
@vivekanandg check supported scopes available on `https://<your dex hostname>/.well-known/openid-configuration` and compare them with ones in kube-oidc-proxy.

I had the same error with the `usernameClaim` set to `username` instead of the supported `name`.

[2020-06-08 14:12] widdix123 opened #155 "Kube-OIDC-Proxy 404 error on EKS cluster using Istio"
I get this error when i run a curl command on kube-oidc-proxy url deployed on istio.

The certs are generated by cert-manager and the URL for  kube-oidc-proxy is hosted on Istio Ingress Gateway instead of Load Balancer

**Pods running on kube-oidc-proxy**

NAME                               READY   STATUS    RESTARTS   AGE
kube-oidc-proxy-6ddf69485b-phln4   2/2     Running   0          41m

**$ ku

[2020-06-08 14:13] widdix123 commented on #155
@JoshVanL  - Any inputs we are actually stuck and the documentation does not give a clarity as to say how will kube-oidc-proxy be accessed ?

[2020-06-08 14:27] JoshVanL commented on #155
Hi @widdix123, looking at the logs, it looks like your request isn't getting to kube-oidc-proxy at all, especially since you got a 404 rather than a 401 on a clean curl request.

I'd suggest taking a look at your routes on the istio side to make sure that's set up correctly.

[2020-06-08 19:30] hochuenw-dd opened #156 "Add metrics endpoint"
Hi, I wonder if we have or plan to have a prometheus /metrics endpoint? Thanks

[2020-06-09 03:25] widdix123 commented on #155
Thanks @JoshVanL  - Yes tls was getting terminated at the Istio IngressGateway that i managed to fix . I get now 401 as suggested

I am using Gangway to fetch the kubernetes config file and Dex to authorize the user (both running on Istio). The certificate i used is of LetsEncrypt CA for all domains and the same has been used

On running `kubectl get pods` i get the " x509: certificate signed by u

[2020-06-09 07:06] widdix123 commented on #155
@JoshVanL - When i use the attached pem file for letsencrypt , i now get

[code]
[letsencrpyt.pem.txt](https://github.com/jetstack/kube-oidc-proxy/files/4750447/letsencrpyt.pem.txt)

[2020-06-09 09:28] JoshVanL commented on #156
Hi @hochuenw-dd,  yes that would be a good addition. Is there anything in particular you would like to see, bar the usual suspects on the client and server of the proxy?

[2020-06-09 10:14] JoshVanL commented on #155
@widdix123 Looks like the token is not getting sent right from the client, or the server is miss configured potentially (thought less likely the client being generated from gangway. Would you be able to share your deployment  configuration for kube-oidc-proxy?

[2020-06-09 10:38] widdix123 commented on #155
@JoshVanL - I just added one option "- `--token-passthrough`

[code]

[2020-06-09 10:49] widdix123 commented on #155
@JoshVanL  - One more thing, the kubeconfig that i download gives me this error  on pods and during kubectl execution

**Logs:**

[code]
**Kubectl execution**

[code]

I have to manually edit the kubeconfig and add the correct CA.cert of letsencrypt to get me  401 error .

I thought that i update you this if it helps in any way

[2020-06-09 11:07] JoshVanL commented on #155
The reason for needing to manually add the CA is cert-manager does not bundle in the CA when requesting certificates from Let's Encrypt. You could use a private PKI CA to solve this problem.

It's hard to see where the issue is here, and am starting to think that it's an issue with the token itself. Could you run kube-oidc-proxy with a larger log level? (--v=10).
Could you also try with a raw curl

[2020-06-09 11:36] widdix123 commented on #155
On startup got this error after adding --v=10, i get 1 error

[code]

**Curl output where i added the token after bearer**

curl -v https://oidc.v4.fpcomplete.com -H 'Authorization: bearer xxxxxxx'
[code]

[2020-06-09 12:40] widdix123 commented on #155
@JoshVanL  - enabled the below flags in kube-odic-proxy.yaml but stll the same error

[code]
Logs

[code]

[2020-06-09 12:52] JoshVanL commented on #155
@widdix123 Token pass through is only really wanted if you are expecting to _also_ have the Kubernetes service accounts authenticated through the kube-oidc-proxy. Not sure that is what you want with also having the ganway audience there ^.

Can you verify that the token you are passing to curl is valid against the dex public key referenced at the well known endpoint?

[2020-06-09 13:50] widdix123 commented on #155
@JoshVanL  - I did not how we could do that but i tried using this python script and the output is

[TokenChecker.py.txt](https://github.com/jetstack/kube-oidc-proxy/files/4752512/TokenChecker.py.txt)
[jwt.py.txt](https://github.com/jetstack/kube-oidc-proxy/files/4752513/jwt.py.txt)

[code]

[2020-06-10 03:33] widdix123 commented on #155
@JoshVanL  - I also verified the token using the keys using https://npm.runkit.com/jwk-to-pem site. It shows me that the token generated is correct and has my details

Also, if i dont enable passthrough i see only `I0610 03:27:32.151909       1 handlers.go:169] unauthenticated user request 127.0.0.1:47980" ` in the log

But enabling passthrough option, i see the below also in the logs (--pass-thro

[2020-06-12 22:14] hochuenw-dd commented on #156
@JoshVanL that would be great.

[2020-06-14 08:12] widdix123 commented on #155
@JoshVanL  - Thanks that was the issue my configmap had some issue. I am able to login to run `kubectl get pods` and many more such things . It works as expected .

However, Is there any integration to the Kubernetes dashboard UI using auth header token ?

[2020-06-14 10:22] JoshVanL commented on #156
/assign

[2020-06-14 10:26] JoshVanL commented on #155
@widdix123 Glad you got it working :)

I'm guessing you are asking whether you are able to auth through your browser to an otherwise unsecured dashboard? This would be better suited using something like [OAuth Proxy](https://github.com/kubernetes/ingress-nginx/tree/master/docs/examples/auth/oauth-external-auth) - that has a quite nice tutorial to follow.

kube-oidc-proxy is more for API calls or o

[2020-06-22 01:32] NingPekin commented on #116
@JoshVanL
I had the same problem. Here is the helm file I used:
Any suggestion here?
[code]

[2020-06-29 14:12] #153 closed

[2020-07-04 22:46] agill17 opened #160 "Unable to connect to the server: x509: certificate signed by unknown authority"
Hi there, I am attempting to use this project along with dex + dex-k8s-authenticator on EKS. Whenever I run any kubectl commands I get the following error: `Unable to connect to the server: x509: certificate signed by unknown authority`

Here are values override for kube-oidc-proxy
[code]

kubeconfig file looks like this;
[code]

oidc-proxy logs
[code]

**Note: I am terminating TLS on my load bala

[2020-07-04 22:52] JoshVanL commented on #160
Hi @agill17,

Since you are terminating TLS at your LB, you need to set the certificate authority of your kubeconfig to either the serving certificate of your LB, or ideally the CA that signed the certificate if not self signed. This will be set in the cluster config of your kubeconfig as either `certificate-authority-data` or `certificate-authority`. Hope that helps :)

[2020-07-04 22:54] JoshVanL commented on #160
Ah, just saw your update. Can you verify that  `certs/dev/k8s-ca.crt` contains the serving certificate of your LB, or indeed the CA?

`openssl s_client -showcerts -connect www.example.com:443 </dev/null`

[2020-07-04 22:57] agill17 commented on #160
Actually the k8s-ca-crt is the EKS Certificate-Authority @JoshVanL . And I using AWS ACM certificate

[2020-07-04 22:58] JoshVanL commented on #160
Can you make sure that this certificate is the CA or cert of the LB, and _not_ the CA of the k8s api-server? This may be the issue.

[2020-07-04 23:06] agill17 commented on #160
@JoshVanL yes replaced that with cert of LB and now getting this
[code]

[2020-07-04 23:07] JoshVanL commented on #160
Interesting error message... Anything on kube-oidc-proxy logs?

[2020-07-04 23:08] agill17 commented on #160
with verbose output
[code]

[2020-07-04 23:08] agill17 commented on #160
nothing on kube-oidc-proxy logs

[2020-07-04 23:12] JoshVanL commented on #160
Seems to be a network issue then rather than a proxy one. I would suggest making sure that your ingress is wired up correctly. Your NGINX logs might have more info since that is were the connection is getting returned from.

[2020-07-04 23:14] agill17 commented on #160
I am seeing a lot of these on nginx ingress controller
[code]

[2020-07-04 23:20] agill17 commented on #160
oh does oidc proxy needs to be on Layer3 LB vs a Layer7?

[2020-07-04 23:25] JoshVanL commented on #160
Which is the IP 192.168.128.124, the proxy of the NGINX? Also note that is going to a 443 when in theory it should be something like 80, though I'm not sure on the behavior for enforcing http(s) on ports with your setup.

In theory it shouldn't matter, although running kube-oidc-proxy unsecured isn't  tested and is not supported really..

If you were to run kube-oidc-proxy at a higher log level yo

[2020-07-04 23:29] agill17 commented on #160
@JoshVanL that IP is actually the oidc-proxy pod ip

[2020-07-04 23:39] agill17 commented on #160
@JoshVanL Adding the following annotations to oidc-proxy ingress worked
[code]

[code]

[2020-07-04 23:41] JoshVanL commented on #160
Awesome :tada: glad that is working for you now.

Feel free to reopen or open a new ticket if you have any other issues.

/close

[2020-07-04 23:41] #160 closed

[2020-07-06 16:29] amit-handda opened #161 "audit `get pods <pod-name>` doesnt work"
Hello,

Thanks for such a useful tool. want to raise an issue about audit feature not working for `get pods <pod-name>`. I dont see anything in the proxy output console. I have configured the audit as follows:

[code]

I see that test for this usecase has been written. however, the same doesnt execute because of absence of `./pkg/proxy/audit/audit_test.go` in the code.

I debugged the issue furthe

[2020-07-06 17:01] amit-handda commented on #161
after I added following patch, its working
[code]

[2020-07-14 12:24] JoshVanL commented on #161
Hi @amit-handda, thanks for catching this. I will follow up with a fix.

/assign

[2020-07-15 17:30] EronWright commented on #143
Sorry to say (in case anyone else would like to work on this), I don't have time to work on this feature.

[2020-07-24 04:47] hazmei commented on #150
Hi @JoshVanL I'm experiencing the same issue however with a different error message.

[code]

I increased the log level of the proxy (--v=10) and this is the output for those requests
[code]

The proxy is running on EKS behind an ALB. Besides exec and port-forward, i'm able to run the other kubectl commands like `kubectl get pods/deploy/secrets/...`, `kubectl logs ...`.

[2020-08-03 03:14] krmayankk commented on #152
@JoshVanL i see a big warning at the top of the readme for this project. What makes this project not secure enough ?Is there a list of things listed somewhere which are known issues or things we need to worry about from security perspective ?

[2020-08-03 17:04] FabioAntunes opened #162 "Disabling TLS"
Hey folks, is there a way to disable tls on the pod level?
I want my aws load balancer to be responsible for the tls, terminating the tls and inside the cluster I just want to use http.

Because currently, I'm getting tls handshake errors. We have an elb managed by our traefik that handles all of our traffic and TLS, terminates the tls and then inside the cluster we use http.

[2020-08-03 17:44] JoshVanL commented on #162
Hi @FabioAntunes, disabling secure serving is not an option. You will need to either enable TCP pass through on your load balancer, or instead allow TLS communication from the LB -> Proxy.

[2020-08-03 17:45] JoshVanL commented on #161
Hi @amit-handda, apologies for the delay. This is still on my backlog to get to :)

[2020-08-03 17:45] JoshVanL commented on #155
Seems to be solved.

/close

[2020-08-03 17:45] #155 closed

[2020-08-03 17:49] JoshVanL commented on #146
Should be now fixed.

/close

[2020-08-03 17:49] #146 closed

[2020-08-03 17:50] JoshVanL commented on #139
/close

[2020-08-03 17:50] #139 closed

[2020-08-03 17:51] JoshVanL commented on #16
Should be part of kube api module.

[2020-08-03 17:51] JoshVanL commented on #16
/close

[2020-08-03 17:51] #16 closed

[2020-08-03 18:11] FabioAntunes commented on #162
Thanks for the quick response

I'm getting the following:

`http: TLS handshake error from 10.50.58.251:49444: remote error: tls: bad certificate`

That IP address is one of my traefik pods.  Any clues

[2020-08-06 11:44] 0xMAYANK opened #163 "Upgrade openssl to 1.1.1g-r0"
Current build(v0.3.0) uses alpine:3.10 as its base image.
The alpine version used comes with an outdated openssl preinstalled.
I'll raise a PR to do the upgrade & address this vulnerability [`CVE-2020-1967`](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-1967).

[code]

[2020-08-12 15:39] JoshVanL commented on #162
Sorry for the slow reply!

You'll need to add the serving CA that kube-oidc-proxy is using, as a trusted CA to traefik.

[2020-08-12 16:21] #163 closed

[2020-08-20 15:03] evillgenius75 opened #166 "Dependency on heptiolabs/healthcheck prevents custom handler paths"
https://github.com/jetstack/kube-oidc-proxy/blob/d7bef6369c58185f5a66f62a49bffb6457f9a452/pkg/probe/probe.go#L12

This go package has not been contributed to in over 3 years and many customers are integrating tools to verify health checks for services and have standardized on /readyz /livez and the now deprecated /healthz in many cases (Ref: https://kubernetes.io/docs/reference/using-api/health-ch

[2020-09-07 08:15] networkop opened #169 "Helm3 Installation fails due incorrect indentation"
## Description
Helm 3 fails to generate YAML do to indentation in `secret_config.yaml`.

[code]

## Versions
[code]

## Proposed fix

The following patch fixes the issue. Happy to submit a PR if you're happy with the fix.

[code]

[2020-09-18 19:03] agaudreault-jive commented on #99
This should probably be closed by now, but on my side I had the wrong `clientId` 😓

So I would suggest to anyone that stumble upon this to decode their JWT token and validate that the configurations of the kube-oidc-proxy match!

Cheers! 🍻

[2020-09-24 16:13] sebastienc commented on #150
Hi, we've got the same issue. Tried to expose the service on ELBs and ALBs and get the same output as the previous comment (except for hostnames). It works for everything except for `kubectl exec` and `kubectl port-forward`. Please let me know if you need any kind of logs. We are running 0.3.0.

[2020-09-25 03:13] hazmei commented on #150
Hi @sebastienc . You can't run it behind ALB / ELB in AWS. `kubectl exec` and `kubectl port-forward` uses SPDY protocol which is not supported by those load balancers. I solve this by exposing the service on NLB.

[2020-10-04 03:57] jijiechen commented on #141
The proxy keeps responding `Unauthorized` without any extra information when correct permission is added for the "in cluster" service account.
It took me days to guess what happened and now I have to give up.

[2020-10-07 11:31] JoshVanL commented on #169
Fixed in #171

/close

[2020-10-07 11:31] #169 closed

[2020-11-04 05:40] mmioc369 opened #174 "OpenSSL package vulnerability"
Hello,

The current version of openssl package that comes along with this image contains the vulnerability [CVE-2020-1967](https://web.nvd.nist.gov/view/vuln/detail?vulnId=CVE-2020-1967)

Please find the description below:

**## Description:** Server or client applications that call the SSL_check_chain() function during or
after a TLS 1.3 handshake may crash due to a NULL pointer dereference as a

[2020-11-17 08:00] brokencode64 opened #175 ""x509: certificate signed by unknown authority" - SSL Load Balancer"
I've setup kube-oidc-proxy with dex(ldap) and gangway on eks. Gangway signs into ldap via dex just fine, however when I try to use the kubeconfig that is generated I get the following error:

`Unable to connect to the server: x509: certificate signed by unknown authority`

On the kube-oidc-proxy pod itself I see this:
`http: TLS handshake error from x.x.x.x:25302: remote error: tls: bad certificat

[2020-11-18 14:07] #175 closed

[2020-11-19 10:10] brokencode64 commented on #175
I just needed the proper value in gangway for " clusterCAPath:".

[2020-11-24 11:29] justinas-b opened #176 "OIDC group membership is not passed to k8s cluster"
Hey,

In my OIDC token I have group membership defined for a user. Decoded token looks like:
[code]

However if I create a `ClusterRoleBinding` as below, after successful login i am not assigned `view` `ClusterRole`:
[code]

I do not have any `--oidc-groups-prefix=` defined on `kube-oidc-proxy` deployment. Am i missing something here? If i create a `ClusteRoleBinding` directly for a user - all wor

[2020-12-01 10:33] JoshVanL commented on #176
Hi @justinas-b, looks like you need to set the flag `--oidc-groups-claim=groups` to pick up that claim.

[2020-12-01 10:43] brokencode64 commented on #176
I am actually have the same issue, and do have that flag set. Still same problem.

[2020-12-01 10:45] JoshVanL commented on #176
Can you run it at a larger log level (`--v=10`), hopefully(!) this should give us some output of the requests being made, and the group impersonation headers.

[2020-12-01 11:00] brokencode64 commented on #176
Ok, here are the logs after logging into gangway, downloading a kubeconfig, and trying to get pods with that kubeconfig:

[code]

[2020-12-01 11:19] JoshVanL commented on #176
Thanks @brokencode64, can you share the oidc flags on kube-oidc-proxy, can confirm that there is a group claim in the token used in the kubeconfig?

[2020-12-01 11:26] brokencode64 commented on #176
Yep, here is the config used. I am adding the prefix unlike @justinas-b , but have also tried without it. Each of the variables is from a secret, and I've double-checked those. the claim should resolve to: "oidc-groups-claim=groups"
[code]

kubeconfig looks generally like this, but how can I confirm wehther there is a group claim in said token?
[code]

[2020-12-01 11:46] JoshVanL commented on #176
@brokencode64 You will need to decode the token, there are various online and CLI tools out there;

https://github.com/dgrijalva/jwt-go
https://jwt.io/

[2020-12-01 12:02] brokencode64 commented on #176
Done, edited my original comment with the token. Looks good as far as I can tell.

[2020-12-01 13:24] JoshVanL commented on #176
Not too sure what is issue is in this case. Can you replace the `"--oidc-groups-claim=$(OIDC_GROUPS_CLAIM)"  ` with `"--oidc-groups-claim=groups"` to triple check it's passing in the right thing?

[2020-12-01 13:51] brokencode64 commented on #176
Success!

Somehow that parameter is was causing issues. I still had one more problem after that it seems.  Going back through the logs again it looks like my prefix naming was also off.

It looks like kube-oidc was getting this:
[code]

When I thought it should be getting this:
[code]

I changed the clusterrole to match and now it works.

[2020-12-11 12:31] Yukesh4791 opened #179 "exec into the pod exits automatically with no error code using kubeconfig file generated from kube-oidc-proxy, gangway & keycloak"
Hi everyone, recently I have deployed kube-oidc-proxy using Gangway and Keycloak into our K8s cluster. Though I have deployed it successfully, but whenever I try to do exec into a pod using token(kubeconfig file) generated from Gangway-keycloak, within few minutes the pod is exited automatically with no error code. The same behaviour is observed when we deployed kube-oidc-proxy with Gangway and De

[2020-12-12 08:08] #176 closed

[2020-12-12 08:21] justinas-b commented on #123
Hey @JoshVanL, would it make sense adding https://github.com/marketplace/actions/helm-chart-releaser action to have a self hosted helm chart repo? I am also interested in being able to pull this chart directly, instead of self hosting the code

[2020-12-14 09:09] Yukesh4791 commented on #179
Update: this was happening because of timeout at load balancer. After adding additional annotations for timeout in ingress, the issue is fixed.

ref: https://github.com/kubernetes/kubernetes/issues/59411#issuecomment-363386735

[2020-12-14 09:09] #179 closed

[2020-12-23 15:06] justinas-b opened #180 "ClusterRole does not allow adding header when using `--extra-user-header-client-ip`"
When using `--extra-user-header-client-ip` argument `kube-oidc-proxy` is unable to impersonate resource `userextras/remote-client-ip` with following error:

[code]

[2020-12-29 16:05] avivkarbolk opened #184 "How can i increase the expiration time for session to kubernets?"
every token generated have exp for 1h, not sure how we can configure it differently

[2021-01-19 09:23] justinas-b commented on #156
Hey @JoshVanL , any chances this can be merged? I am also interested in having metrics for `kube-oidc-proxy`

[2021-01-19 11:25] SnehaMore20 opened #185 "claims from id_token are not passed to k8s cluster"
I have deployed kube-oidc-proxy and authenticating using Keycloak into our K8s cluster. But I have observed that kube-oidc-proxy takes claims only  from refresh_token and not from id_token.
e.g
refresh_token given below
[code]
id_token given below

[code]

when i pass  `"--oidc-username-claim=sub"` to kube-oidc-proxy , it works and authenticates correctly.
but when i pass `"--oidc-username-claim=e

[2021-02-09 13:09] ro0tkid00 commented on #156
Hey @JoshVanL, I landed here as well & having metrics for `kube-oidc-proxy` would be great 👍

[2021-02-15 12:46] mthoretton opened #187 ""EKS now supports OIDC compatible identity providers""
https://github.com/aws/containers-roadmap/issues/166#issuecomment-778519901

I will try ASAP and update if it works. If so, that means `kube-oidc-proxy` should not be needed anynore for EKS 🎉
Even though it's a great tool and it's been working perfectly for months it would be nice to remove a layer from k8s stack 😅

[2021-02-15 13:24] mthoretton commented on #187
"as long as the issuer URL is publicly available." Actually this part is kind of blocking for us, so we'll keep `kube-oidc-proxy`.
Maybe it's worth updating the README to mention EKS support public OIDC compatible identity providers 🤷
IIRC this is actually possible for some months now. Maybe it was simply not officaily supported until now.

[2021-02-22 17:50] Smana opened #188 "Keep getting Unauthorized answer"
Hey folks,

I'd be glad to get some support please. Ideally I want to get the same authentication stack accross multiple cloud providers.
I already configured successfuly Dex with the newly released features OIDC for EKS and everything works like a charm.

Now I want to add the kube-oidc-proxy in front of that because GKE or AKS are not configurable in that way.

I deployed it using the helm chart

[2021-02-22 19:21] Smana commented on #188
In the meantime, I'll try to test it locally. I mean I'll run the proxy on my laptop in order to validate that everything works.

[2021-02-22 19:53] Smana commented on #188
I'm probably missing something:
the kube-oidc-proxy seems to run properly
[code]

The issuer is reachable from the container
[code]

The container is running the command
[code]

[2021-02-23 11:46] Smana commented on #188
Well I'm using kubelogin plugin, maybe using Gangway will help me. But I'm not sure I'll be able to bypass the Unauthorized error and how to configure the proxy properly:
[code]

[2021-02-23 13:00] Smana commented on #188
Keep digging. Same unauthorized error using Gangway.

I increased the log level here are the options used by kube-oidc-proxy
[code]

[code]

I've an error regarding the audience verification, I might have missed something in the examples.

[2021-02-23 13:06] Smana commented on #188
And I'd be glad to help writing a documentation with Helm charts instead of [ksonnet](https://github.com/ksonnet/ksonnet) which is not maintained anymore.

[2021-02-23 16:48] JoshVanL commented on #188
Hi @Smana,

For the readiness probe, kube-oidc-proxy exposes an http readiness check on port 8080 `/ready`. Perhaps you can use that for your LB?

Your requests are being rejected here by the proxy as they are failing OIDC. Is `oidc-proxy` the same client-id in your token? Is the `email` claim also present?

[2021-02-23 17:16] Smana commented on #188
Hi @JoshVanL,

Thanks for your answer,

Regarding the loadbalancing, I'll get back to it later on. I ended up using a TCP loadbalancer and that works.

For my main issue, well I surely misunderstood how to setup things so I'll detail the whole setup:

I'll use the following names as placeholders:
Dex URL (issuer): `https://dex.domain.tld/dex`
kube-oidc-proxy URL: `https://proxy.domain.tld`

* kube

[2021-02-23 17:25] JoshVanL commented on #188
No problem! Let get this working :sunglasses:

Looks like you need to change the issuer URL for your oidc-login command `--oidc-issuer-url https://proxy.domain.tld ` -> `--oidc-issuer-url https://dex.domain.tld/dex`

[2021-02-23 17:43] Smana commented on #188
Ok doing so I got a valid kubeconfig (I can request the kubeapiserver with the proper RBAC configured), but there's no mention of the proxy anywhere.
Oooh I got it :heart: . That was my missing part !

[code]

Then with my kubeconfig I've the perms.
You rock @JoshVanL

May I propose a documentation (demo) with 3 k3d clusters to mimic 3 different cloud providers ?

[2021-02-23 17:46] JoshVanL commented on #188
@Smana Awesome :slightly_smiling_face:

Any demo contributions would be appreciated!

[2021-02-23 17:52] #188 closed

[2021-02-25 04:18] ChattiGuruRaghavendra commented on #122
I could not get tailing of logs in kubectl or stern to work with the role

Setup:
EKS cluster. K8s version 1.17.
kube-oidc-proxy deployed from the helm chart within this repo.

`apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: test-role
rules:
- apiGroups: ["*"]
  resources: ["*"]
  verbs: ["*"]`

When I run the command
`kubectl logs <podname> -f` The command hangs with

[2021-02-25 12:18] torhagl commented on #122
@ChattiGuruRaghavendra I got it working by doing the change to the role mentioned in my last comment above. Do you have verbose logging on kube-oidc-proxy? Can you check what you are getting there?

Also - are you able to do things such as `kubectl get pods` and other similar commands? If that's not the case, is your clusterrolebinding set up correctly to your username / group?

[2021-02-26 04:42] ChattiGuruRaghavendra commented on #122
Hi @torhagl ,

I am able to run all the other kubectl commands on all the namespaces. The only thing that doesnot work is log tailing.

Below is the verbose log I could get from oidc-proxy pod

command run: `stern -n kube-system health-abcd`

Verbose log from oidc-proxy

`oidc-proxy-5cd94fcff4-bgfl6 oidc-proxy I0226 02:58:59.250393       1 handlers.go:51] authenticated request: 100.108.0.13:52836

[2021-03-08 15:23] Smana opened #189 "Permission denied on quay.io image"
Recently I'm facing a permission denied on the docker image.

[code]

[2021-03-08 15:25] JoshVanL commented on #189
Hi @Smana, the correct image is `quay.io/jetstack/kube-oidc-proxy:v0.3.0`

[2021-03-08 15:26] Smana commented on #189
oh my bad :facepalm:
Thanks !

[2021-03-08 15:26] #189 closed

[2021-03-13 15:06] mlbiam opened #190 "Support for TokenRequest API"
When using impersonation, the `ServiceAccount` used by the proxy is privileged.  Since this `ServiceAccount` has no expiration, it could be easily used to compromise a cluster if the cluster owner doesn't know that the token has been compromised.  The best way to mitigate this vulnerability is to have short lived tokens that if they are leaked, only have a short window to be used against a cluster

[2021-03-22 14:33] brokencode64 opened #191 "Create/Attach pod in single command: Timed out waiting for condition"
I am running into a strange issu where if I try to create a pod and attach to it in a single command I get an error, but I can attach to the container manually just fine.

This command:
`kubectl run debug-pod --image=registry/debug --restart=Never --namespace=default --image-pull-policy=Always  -i --tty --attach --rm`

Results in:
[code]

However I can do something like this it works just fine:
`k

[2021-03-25 20:47] jrote1 opened #193 "Using with Kubernetes Dashboard"
I am trying to configure Kubernetes Dashboard to use this proxy because I have setup Dex on EKS and am using this to authenticate using OIDC. But I have setup Kubernetes Dashboard to be authenticated using oauth2-proxy but once logged in it says access denied. I assume that is because the token is an OIDC token. So when I change the Kubernetes Dashboard to use this proxy I get the following error.

[2021-04-11 17:16] MatisseB opened #194 "Helm chart - wrong arg for requiredClaims"
https://github.com/jetstack/kube-oidc-proxy/blob/1080bc238c570752b120e9f06584d8131149a27f/deploy/charts/kube-oidc-proxy/templates/deployment.yaml#L63

Hello,
I've found an error on the helm chart.
I was trying to deploy it with a requiredClaim and end up with the following error:

![image](https://user-images.githubusercontent.com/37403016/114314212-18974380-9afa-11eb-8747-d9bbcd12492b.png)

The c

[2021-04-15 10:11] Smana opened #195 "Audit logs and keeping the user's identity"
Hey everyone,

I've seen that was possible to configure the proxy to store the audit logs locally, that's great because I just noticed that my audit logs in the cloud provider were not relevant as we see the serviceaccount as the user.
Well I know how to stream the logs from a file to Datadog but I have a question:
From my understanding the file will never be rotated, that means that we'll have an

[2021-04-15 12:15] Smana commented on #195
By the way I was wondering if that was possible to keep the user identity by forwarding [headers](https://github.com/jetstack/kube-oidc-proxy/blob/master/docs/tasks/extra-impersonation-headers.md) ?

[2021-04-15 15:36] Smana commented on #195
Forget about my question regarding the file rotation, there are all the flags necessary :)

[2021-04-15 15:54] Smana commented on #195
I'm gonna try writing the logs to stdout and sending only relevant logs using pattern matching (only json of kind events)

[2021-04-16 17:53] Smana commented on #195
I managed to get the logs sent to datadog and filter properly.

[2021-04-16 17:53] #195 closed

[2021-04-18 23:39] abdennour commented on #150
@hazmei My kube-apiserver is exposed thru nginx ingress.
And the nginx ingress is behind HAProxy (corporate Loabalancer on-prem)
As per your comment, i need to make sure that SPDY protocol is configured in :
- nginx ingress
- HAProxy

My question is how to configure this protocol in these 2 layers?

[2021-04-28 11:03] 2ZZ commented on #122
I just hit this issue on v0.1.1 however it looks to be fixed in v0.3.0 👍

[2021-05-07 06:21] Smana commented on #191
I've got the exact same behavior, `kubectl run -ti ...` doesn't work at all. We have to use `kubectl create ...`

[2021-05-07 06:41] Smana opened #196 "kubectl hangs on delete commands"
Hey,

I just noticed a thing this morning: When I try to delete something it hangs indefinitely. I'm cancel the command :/
Actually for the moment I noticed that only for pods and namespaces for the moment, it works for deployments. Maybe they have different finalilzers.

I've seen this issue https://github.com/jetstack/kube-oidc-proxy/issues/135 and I checked that I'm using the latest version and

[2021-05-07 08:34] Smana commented on #196
Same issue with `kubectl rollout status ...`

[2021-05-07 08:53] Smana commented on #196
same for `ingresses` deletion

[2021-05-10 07:10] Smana commented on #196
Well I tested several values and nothing worked so far.
Here are the info about the environment:

kubectl: tested with `1.17.17` and `1.20.4`
kubernetes: 1.17.17
image: `quay.io/jetstack/kube-oidc-proxy:v0.3.0`
kube-oidc-proxy flags:

[code]

Let me know if you need further details

[2021-05-10 09:39] Smana commented on #196
hardcoding the value works

file proxy.go
[code]

[2021-05-10 14:39] Smana commented on #196
Still digging because I face the issue when I enable the audit logs.

[code]

[2021-05-10 14:47] Smana commented on #196
ok seems that this occurs when only when enabling the audit logs.

[2021-06-02 11:29] Sandy1438 opened #197 "Request for help on Gangway,Dex and kube-oidc-proxy manifest for cloud managed k8s cluster"
Hi,
First of all a big thanks to all the teams of Jetstack and  Heptiolabs for this wonderful project!
I need your guidance/help with the manifest files to setup SSO for a cloud managed kubernetes cluster.
I'm using Digital Ocean as cloud provider and have spawned up a managed K8s cluster and want to enable SSO.
I have decided to use Dex as IDP and Github Org as external auth provider. Gangway as

[2021-06-04 06:22] zeusro opened #198 "Disable TLS check oidc.issuer-url"
I use kube-oidc-proxy to connect the dex server，which  using  a self-signed certificate .
After it starts to run ,here is the log:

[code]

I have already checked about this project’s  configuration and found nothing.

Is there an option to disable SSL check ?

[2021-06-04 08:38] Sandy1438 commented on #197
I have managed to setup kube-oidc-proxy with dex and gangway but I get this error.
Am I doing something wrong with the configuration .
[root@k8-master gangway]# kubectl get nodes
E0604 08:14:02.020961 1738748 request.go:1027] Unexpected error when reading response body: stream error: stream ID 1; INTERNAL_ERROR
E0604 08:14:02.023964 1738748 request.go:1027] Unexpected error when reading response b

[2021-06-16 12:14] saiharshitachava opened #199 "Issue with kubectl command after installation"
HI Team,

I installed oidc-proxy and exposed it via ingress and secured the url for oidc proxy

Im able to set the context and everything but after setting the context and running kube commands I see below cert error

Unable to connect to the server: x509: certificate signed by unknown authority

And Im sure the oidc proxy url exposed via ingress is secured

Any help here

[2021-07-02 10:10] saiharshitachava commented on #198
Any update here I have the same issue

[2021-07-02 12:30] zeusro commented on #198
I have already fixed that.

Need to provide `--oidc-ca-file=/etc/oidc/oidc-ca.pem` while starting the oidc-proxy.

/etc/oidc/oidc-ca.pem is the valid  CA pem file.

[2021-07-02 12:30] #198 closed

[2021-07-02 12:31] zeusro commented on #198
It happens in the self-signed certificate situation.

[2021-07-05 11:12] tuxtof commented on #123
any news ??

@JoshVanL you Kubernetes-oidc-proxy is very good

but we really need a published official helm chart in https://charts.jetstack.io

Thanks

[2021-09-12 12:34] tete17 commented on #162
Hey @JoshVanL can I get a clarification.

You mentioned that disabling tls is not an option. Did you mean it is currently supported by the project or is it because there is an underlying technical reason the api can't be exposed through pure http (other than security of course) for an external proxy to handle tls like @FabioAntunes mentions. I think that case is a pretty typical scenario

[2021-09-16 23:04] kingdonb commented on #197
I got this error when my ingress-nginx was timing out, at 60s reliably, which was how I figured out that it was some timeout.

I setup my ingress like this and the issue was resolved, no more timeouts at 60s:

[code]

[2021-09-21 07:55] saiharshitachava opened #200 "user details in ingress logs"
HI

I installed oidc and im able to succesfully access it

I have a custom log format which can monitor these fields on oidc proxy ingress url
   body_bytes_sent
   bytes_sent
   method
   referer
   request
   request_length
   request_time
   status
   time_local
   upstream
   upstream_addr
   upstream_connect_time
   upstream_header_time
   upstream_response_time
   upstream_status
   uri_path

[2021-09-21 08:26] #199 closed

[2021-09-24 02:45] artazar commented on #162
+1 for this option
it would be nice to use it with https ingress and terminate ssl on upper level

[2021-10-05 13:27] mlbiam opened #202 "is this project still being maintained?"
I know this project isn't labeled a production system, but there have been few updates and there hasn't been a release since April 2020.  I know there's a large community, what's needed for help?

[2021-11-08 06:29] kty1965 opened #205 "oidc-required-claim option is not working via helm deploy"
I saw deployment code in helm template.

`deploy/charts/kube-oidc-proxy/templates/deployment.yaml` in file

[code]

[2021-12-16 01:42] mlbiam commented on #190
nothing special needs to happen on this per https://github.com/TremoloSecurity/kube-oidc-proxy/issues/6

[2021-12-16 01:42] #190 closed

[2022-03-08 14:18] mlbiam commented on #202
we've forked this project to keep it up to date - https://github.com/tremolosecurity/kube-oidc-proxy.  Here are the details of our changes - https://www.tremolosecurity.com/post/updating-kube-oidc-proxy

[2022-03-09 08:40] robbo10 commented on #202
@mlbiam - Thanks very much that is awesome news :)

[2022-04-14 04:37] danielrubin1989 commented on #202
@mlbiam Hi Marc,
I'm facing issues to configure kube-oidc-proxy with okta on GKE. Do tremolosecurity have slack channel we can discuss about the project? maybe we can chat on slack :)?

[2022-04-14 15:08] mlbiam commented on #202
@danielrubin1989 no slack channel, but if you open an issue on https://github.com/tremolosecurity/kube-oidc-proxy we'll do our best to help out.

[2022-08-08 20:47] hayesgm commented on #191
From this thread: https://community.kodekloud.com/t/anyone-know-what-could-be-the-reason-for-this-related-to-lab2-q7-nslookup-co/20254 adding `--restart=Never` fixes this issue for me.